#root {
  text-align: center;
}

.app  {
  background: rgba(255, 255, 255, 0.63);
  border-radius: 12px;
  padding: 2em;
  opacity: 0.2;
  transition: opacity 2s;
}

.app:hover{
  opacity: 1;
}

.app p, .app span {
  color: black;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
}

.fieldsets{
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: stretch;
  justify-content: space-around;
  width: 100%;
}

fieldset{
  background: rgba(0, 0, 0, 0.19);
  padding: 8px
}

fieldset[disabled]{
  filter: blur(2px);
}

.field {
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.read-the-docs {
  color: #888;
}
