.hexagon-container {
    background-color: #000;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;

    .hexagon-content{
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 3;
        width: 100%;
        height: 100%;
        pointer-events: none;

        &  * {
            pointer-events: all;
        }
    }
}

.hexagon-row{
    display: inline-flex;
    margin-top: -32px;

    &:nth-child(odd) {
        margin-left: -50px;
    }

    &:nth-child(even) {
        margin-right: -52px;
    }
}

.hexagon {
    position: relative;
    width: 100px;
    height: 110px;
    margin: 1px;
    background-color: #1a1a1a;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    transition: 1s;

    &:after{
        content: "";
        position: absolute;
        top: 4px;
        bottom: 4px;
        left: 4px;
        right: 4px;
        clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
        pointer-events: none;
    }
    &:not(.filled):after{
        background-color: #111;
    }

    &:before{
        content: "";
        position: absolute;
        width: 50%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.03);
        z-index: 2;
        pointer-events: none;
    }

    &.colorized {
        animation: colorized-animation 4s linear infinite;
    }
}



.hexagon-colored {
    animation: colored-animation 4s linear infinite;
}

.hexagon-hover:hover{
    background-color: var(--hexagon-color);
    transition: 0s;
}

.hexagon-cursor {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .1s;
    border-radius: 50%;
    filter: blur(15px);
    z-index: 0;
    background: var(--hexagon-cursor-color);
    width: var(--hexagon-cursor-size);
    height: var(--hexagon-cursor-size);
    &.colorized {
        animation: colorized-animation 2s linear infinite;
    }
}

@keyframes colorized-animation {
    0%{
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}
@keyframes colored-animation {
    0%{
        filter: blur(0px);
    }
    100% {
        filter: blur(1px)
    }
}